build --action_env=BAZEL_CXXOPTS=-std=c++17
build --cxxopt "-std=c++17"
build --copt "-Wno-sign-compare"
build --copt "-Wno-comment"
build --host_copt "-Wno-sign-compare"
build --host_copt "-Wno-comment"

# TODO(proppy): 2022-09-29 per https://github.com/grailbio/bazel-toolchain#quickstart
# remove when https://github.com/bazelbuild/bazel/issues/7260 is closed.
build --incompatible_enable_cc_toolchain_resolution
