# clang-diagnostic-builtin-macro-redefined : Don't complain about bazel
#    defining __TIMESTAMP__ and __DATE__ for hermeticity.
#
# readability-make-member-function-const is great, but it also suggests that
#    in cases where we return a non-const pointer. So good to check, not by
#    default.
#
# readability-qualified-auto is useful in general, however it suggests
#    to convert iterators (e.g. std::string_view::begin()) to the pointer it
#    returns; however since the iterator is implementation defined, this is not
#    a valid assertion. Running the check every now and then manually and
#    fixing all the non-iterator cases is useful though. Off by default.
#
# readability-use-anyofallof is overly aggressive, suggesting conversion of for
#    loops into std::any_of/all_of in cases where it makes the code less
#    readable.
#
# misc-const-correctness: useful, but it seems to be overzealous at times,
#    arriving at incorrect conclusions.
#
# modernize-make-unique: mostly correct, but wants to also replace .reset()
#    which is a more readable way than assign.
#
# modernize-loop-convert: Improper use of auto for loop variable.
#
# misc-use-anonymous-namespace: Using static on non-member functions has the
#    essentially the same effect as putting them in an anonymous namespace and
#    has added benefits -- including, having the statement of internal linkage
#    right by the function definition.
###
Checks: >
  clang-diagnostic-*,
  -clang-diagnostic-sign-conversion,
  -clang-diagnostic-builtin-macro-redefined,
  clang-analyzer-*,
  abseil-*,
  -abseil-no-namespace,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-simplify-boolean-expr,
  -readability-static-definition-in-anonymous-namespace,
  -readability-uppercase-literal-suffix,
  -readability-use-anyofallof,
  google-*,
  -google-readability-braces-around-statements,
  -google-readability-todo,
  performance-*,
  -performance-noexcept-*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-move-forwarding-reference,
  -bugprone-narrowing-conversions,
  -bugprone-suspicious-missing-comma,
  -bugprone-unchecked-optional-access,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-loop-convert,
  -modernize-make-unique,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-emplace,
  -modernize-use-nodiscard,
  -modernize-use-std-format,
  -modernize-use-trailing-return-type,
  -modernize-use-transparent-functors,
  misc-*,
  -misc-const-correctness,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-redundant-expression,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,
  -cppcoreguidelines-narrowing-conversions,

CheckOptions:
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           'true'
  - key:             readability-implicit-bool-conversion.AllowIntegerConditions
    value:           'true'
