site_name: "XLS: Accelerated HW Synthesis"
repo_url: "https://github.com/google/xls/"
site_url: "https://google.github.io/xls/"
docs_dir: "docs_src/"
site_dir: "docs/"
theme:
  name: "material"
nav:
  - Intro: 'README.md'
    - Build system: 'build_system.md'
  - IR:
    - Semantics: 'ir_semantics.md'
    - Optimizations: 'optimizations.md'
    - Scheduling:
      - Overview: 'scheduling.md'
      - Delay Estimation: 'delay_estimation.md'
    - Visualizer: 'ir_visualization.md'
    - Native JIT:
      - Overview: 'ir_jit.md'
      - Data Layout: 'data_layout.md'
    - Formal: 'solvers.md'
  - DSLX:
    - Reference: 'dslx_intro.md'
    - Examples:
      - CRC32: 'dslx_intro_example1.md'
      - FP adder: 'fpadd_example.md'
      - Prefix Scan: 'dslx_intro_example3.md'
    - Fuzzer: "fuzzer.md"
  - Tools:
    - Quick Start: 'tools_quick_start.md'
    - Listing: 'tools.md'
    - Interpreters: 'interpreters.md'
  - Development:
    - Contributing: 'contributing.md'
    - Style Guide: 'xls_style.md'
