site_name: "XLS: Accelerated HW Synthesis"
repo_url: "https://github.com/google/xls/"
site_url: "https://google.github.io/xls/"
edit_uri: 'tree/main/docs_src/'
docs_dir: "docs_src/"
site_dir: "docs/"
theme:
  name: "material"
nav:
  - Overview: 'README.md'
  - Talks: 'talks.md'
  - Tutorials:
    - Overview: 'tutorials/index.md'
    - DSLX:
      - Hello, XLS!: 'tutorials/hello_xls.md'
      - Basic logic: 'tutorials/float_to_int.md'
      - Intro to parameterics: 'tutorials/intro_to_parametrics.md'
      - For expressions: 'tutorials/crc32.md'
      - Enumerate and match: 'tutorials/prefix_scan.md'
      - What is a Proc?: 'tutorials/what_is_a_proc.md'
      - How to use Procs: 'tutorials/how_to_use_procs.md'
    - \[contrib\] XLS[cc]:
      - Overview: 'tutorials/xlscc_overview.md'
      - Integers: 'tutorials/xlscc_integers.md'
      - Channels: 'tutorials/xlscc_channels.md'
      - Memory: 'tutorials/xlscc_memory.md'
      - State: 'tutorials/xlscc_state.md'
      - Pipelined Loops: 'tutorials/xlscc_pipelined_loops.md'
  - FAQ: 'faq.md'
  - IR:
    - Overview: 'ir_overview.md'
    - Semantics: 'ir_semantics.md'
    - Optimizations: 'optimizations/optimizations.md'
    - Scheduling:
      - Overview: 'scheduling.md'
      - Delay Estimation: 'delay_estimation.md'
    - Visualizer: 'ir_visualization.md'
    - Native JIT:
      - Overview: 'ir_jit.md'
      - Data Layout: 'data_layout.md'
    - Formal: 'solvers.md'
    - Elaboration: 'elaboration.md'
  - DSLX:
    - Reference: 'dslx_reference.md'
    - Standard Library : 'dslx_std.md'
    - Floating Point: 'floating_point.md'
    - Fuzzer: 'fuzzer.md'
    - Interpreter: 'dslx_bytecode_interpreter.md'
    - FFI: 'dslx_ffi.md'
    - Language Server: 'dslx_language_server.md'
    - Type System: 'dslx_type_system.md'
  - Code Generation:
    - Codegen Options: 'codegen_options.md'
    - IR Lowering: 'ir_lowering.md'
    - VAST: 'vast.md'
  - Tools:
    - Build System: 'build_system.md'
    - Bazel Rules And Macros: 'bazel_rules_macros.md'
    - Quick Start: 'tools_quick_start.md'
    - Listing: 'tools.md'
    - Interpreters: 'interpreters.md'
  - Development:
    - Contributing: 'contributing.md'
    - Style Guide: 'xls_style.md'
    - Adding a new IR operation: 'adding_ir_operation.md'
    - Ideas and Projects: 'ideas_and_projects.md'
    - FPGA characterization (experimental): 'fpga_characterization.md'
    - Design Docs:
      - Legalize Multiple Channel Ops Per Channel: 'design_docs/legalize_multiple_channel_ops_per_channel.md'
      - Proc-scoped channels: 'design_docs/proc_scoped_channels.md'
    - Releasing: 'releasing.md'
  - NoC:
    - Overview: 'noc/xls_noc_readme.md'
    - Topologies:
      - Overview: 'noc/xls_noc_topologies.md'
      - Dimension Order: 'noc/xls_noc_dimension_order_topology.md'
      - Tree: 'noc/xls_noc_tree_topology.md'
      - k-ary n-fly Butterfly: 'noc/xls_noc_butterfly_topology.md'
      - Fully Connected: 'noc/xls_noc_fully_connected_topology.md'
      - Star: 'noc/xls_noc_star_topology.md'
    - Glossary: 'noc/xls_noc_glossary.md'
markdown_extensions:
  - mdx_truly_sane_lists
  - pymdownx.superfences
  - pymdownx.highlight:
      extend_pygments_lang:
        - name: dslx
          lang: rust
        # dslx-snippet indicates the code block doesn't need to parse and
        # typecheck.
        - name: dslx-snippet
          lang: rust
        # dslx-bad indicates the code block is showing something wrong.
        - name: dslx-bad
          lang: rust
  - pymdownx.arithmatex:
        generic: true
  - footnotes
  - attr_list
  - admonition
extra_javascript:
  - https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
plugins:
  - exclude:
      glob: BUILD
  - search
  - print-site
