#include "{{ wrapped.header_filename }}"

#include <cstdint>
#include <array>
#include <string_view>

#include "xls/common/status/status_macros.h"
#include "xls/jit/function_base_jit_wrapper.h"

extern "C" {

// The actual symbols the AOT generates.
// Unpacked entrypoint
int64_t {{wrapped.aot_entrypoint.entrypoint[0].function_symbol}}(  // NOLINT
    const uint8_t* const* inputs, uint8_t* const* outputs, void* temp_buffer,
    xls::InterpreterEvents* events, xls::InstanceContext* instance_context,
    xls::JitRuntime* jit_runtime, int64_t continuation_point);
// Packed entrypoint
int64_t {{wrapped.aot_entrypoint.entrypoint[0].packed_function_symbol}}(  // NOLINT
    const uint8_t* const* inputs, uint8_t* const* outputs, void* temp_buffer,
    xls::InterpreterEvents* events, xls::InstanceContext* instance_context,
    xls::JitRuntime* jit_runtime, int64_t continuation_point);
}

namespace {{ wrapped.namespace }} {

namespace {

#ifdef ABSL_HAVE_MEMORY_SANITIZER
static constexpr bool kTargetHasSanitizer = true;
#else
static constexpr bool kTargetHasSanitizer = false;
#endif
static constexpr bool kExternHasSanitizer = {{ "true" if wrapped.aot_entrypoint.entrypoint[0].has_msan else "false" }};

static_assert(kTargetHasSanitizer == kExternHasSanitizer,
              "sanitizer states do not match!");

static constexpr std::string_view kFunctionName = "{{ wrapped.function_name }}";

// Note: This is a plain array as the content can be so large that it exceeds
// compiler constexpr limits if attempting to assign to std::string_view
static constexpr char kIrText[] =
    R"original_ir({{wrapped.ir_text}})original_ir";

// Bytes of the AOT entrypoint message:
{{ str(wrapped.aot_entrypoint.entrypoint[0]).split("\n") | prefix_each("// ") | join("\n") }}
static constexpr std::array<uint8_t, {{len(wrapped.aot_entrypoint.entrypoint[0].SerializeToString())}}> kAotEntrypointProtoBin = {
  {{wrapped.aot_entrypoint.entrypoint[0].SerializeToString() | list | join(", ")}}
};
}  // namespace

absl::StatusOr<std::unique_ptr<{{ wrapped.class_name }}>>
{{ wrapped.class_name }}::Create() {
  return xls::BaseFunctionJitWrapper::Create<{{wrapped.class_name}}>(
            kIrText,
            kFunctionName,
            kAotEntrypointProtoBin,
            {{wrapped.aot_entrypoint.entrypoint[0].function_symbol}},
            {{wrapped.aot_entrypoint.entrypoint[0].packed_function_symbol}});
}

absl::StatusOr<xls::Value> {{ wrapped.class_name }}::Run(
    {{ wrapped.params | map(attribute="value_arg") | join(", ") }}) {
  std::array<xls::Value, {{ len(wrapped.params) }}> jit_wrapper_args{
      {{ wrapped.params | map(attribute="name") | join(", ") }}
  };
  return xls::BaseFunctionJitWrapper::RunInternal(jit_wrapper_args);
}

absl::Status {{wrapped.class_name}}::Run(
    {{ wrapped.params_and_result | map(attribute="packed_arg") | join(", ") }}) {
  return xls::BaseFunctionJitWrapper::RunInternalPacked(
      {{ wrapped.params_and_result | map(attribute="name") | join(", ") }});
}

absl::Status {{wrapped.class_name}}::Run(
    {{ wrapped.params_and_result | map(attribute="unpacked_arg") | join(", ") }}) {
  return xls::BaseFunctionJitWrapper::RunInternalUnpacked(
      {{ wrapped.params_and_result | map(attribute="name") | join(", ") }});
}

{% if wrapped.can_be_specialized %}
absl::StatusOr<{{wrapped.result.specialized_type}}>
{{ wrapped.class_name }}::Run(
      {{ wrapped.params | map(attribute="specialized_arg") | join(", ") }}) {
  {% for p in wrapped.params %}
  {{ p.packed_type }} {{ p.name }}_view(std::bit_cast<uint8_t*>(&{{ p.name }}), 0);
  {% endfor %}
  {{ wrapped.result.specialized_type }} result;
  {{ wrapped.result.packed_type }} result_view(std::bit_cast<uint8_t*>(&result), 0);
  XLS_RETURN_IF_ERROR(xls::BaseFunctionJitWrapper::RunInternalPacked(
      {{ wrapped.params_and_result | map(attribute="name")
                                   | append_each("_view")
                                   | map("join")
                                   | join(", ") }}));
  return result;
}
{% endif %}

}  // namespace {{ wrapped.namespace }}
