// {WARNING}

{HEADERS}

#include "absl/log/check.h"
#include "xls/common/module_initializer.h"
#include "xls/passes/optimization_pass_registry.h"

namespace xls::pass_registration {

XLS_REGISTER_MODULE_INITIALIZER({REGISTRATION_NAME}, {
  CHECK_OK(RegisterOptimizationPass<{NAME}>({SHORT_NAME}));
  RegisterOptimizationPassInfo({SHORT_NAME},
                               "{NAME}",
                               "{FIRST_HEADER_FILE}");
});

}  // namespace xls::pass_registration
