#include "xls/ir/op.h"

#include <string_view>

#include "absl/container/flat_hash_map.h"
#include "absl/log/log.h"
#include "absl/status/statusor.h"
#include "xls/common/logging/logging.h"

namespace xls {

Op FromOpProto(OpProto op_proto) {
  switch (op_proto) {
    case OP_INVALID: LOG(FATAL) << "OP_INVALID received"; break;
{% for op in spec.OPS -%}
    case OP_{{ op.name.upper() }}: return Op::{{ op.enum_name }};
{% endfor -%}
    // Note: since this is a proto enum there are sentinel values defined in
    // addition to the "real" ones above, which is why the enumeration above is
    // not exhaustive.
    default:
      LOG(FATAL) << "Invalid OpProto: " << static_cast<int64_t>(op_proto);
  }
}

OpProto ToOpProto(Op op) {
  switch (op) {
{% for op in spec.OPS -%}
    case Op::{{ op.enum_name }}: return OP_{{ op.name.upper() }};
{% endfor -%}
  }
  LOG(FATAL) << "Invalid Op: " << static_cast<int64_t>(op);
}

std::string OpToString(Op op) {
  static const absl::flat_hash_map<Op, std::string>* op_map =
      new absl::flat_hash_map<Op, std::string>({
{% for op in spec.OPS -%}
{Op::{{ op.enum_name }}, "{{ op.name }}"},
{% endfor -%}
      });
  auto found = op_map->find(op);
  if (found == op_map->end()) {
    LOG(FATAL) << "OpToString(" << static_cast<uint64_t>(op)
               << ") failed, unknown op";
  }
  return found->second;
}

absl::StatusOr<Op> StringToOp(std::string_view op_str) {
  static const absl::flat_hash_map<std::string, Op>* string_map =
      new absl::flat_hash_map<std::string, Op>({
{% for op in spec.OPS -%}
{"{{ op.name }}", Op::{{ op.enum_name }}},
{% endfor -%}
      });
  auto found = string_map->find(op_str);
  if (found == string_map->end()) {
    return absl::InvalidArgumentError(
        absl::StrCat("Unknown operation for string-to-op conversion: ", op_str));
  }
  return found->second;
}

bool OpIsCompare(Op op) {
{% for op in spec.OPS -%}
{%- if spec.Property.COMPARISON in op.properties -%}
if (op == Op::{{ op.enum_name }}) return true;
{% endif -%}
{% endfor -%}
  return false;
}

bool OpIsAssociative(Op op) {
{% for op in spec.OPS -%}
{%- if spec.Property.ASSOCIATIVE in op.properties -%}
if (op == Op::{{ op.enum_name }}) return true;
{% endif -%}
{% endfor -%}
  return false;
}

bool OpIsCommutative(Op op) {
{% for op in spec.OPS -%}
{%- if spec.Property.COMMUTATIVE in op.properties -%}
if (op == Op::{{ op.enum_name }}) return true;
{% endif -%}
{% endfor -%}
  return false;
}

bool OpIsBitWise(Op op) {
{% for op in spec.OPS -%}
{%- if spec.Property.BITWISE in op.properties -%}
if (op == Op::{{ op.enum_name }}) return true;
{% endif -%}
{% endfor -%}
  return false;
}

bool OpIsSideEffecting(Op op) {
{% for op in spec.OPS -%}
{%- if spec.Property.SIDE_EFFECTING in op.properties -%}
if (op == Op::{{ op.enum_name }}) return true;
{% endif -%}
{% endfor -%}
  return false;
}

{% for op_class in spec.OpClass.kinds.values() -%}
template<>
bool IsOpClass<{{op_class.name}}>(Op op) {
{% for op in spec.OPS -%}
{%- if op.op_class == op_class -%}
if (op == Op::{{ op.enum_name }}) return true;
{% endif -%}
{% endfor -%}
  return false;
}

{% endfor %}

std::ostream& operator<<(std::ostream& os, Op op) {
  os << OpToString(op);
  return os;
}

}  // namespace xls
