# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# See also: https://github.com/marketplace/actions/bazel-action

name: Continuous Integration
on: [push]

jobs:
  build:
    name: Bazel Test All (opt)
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Mount Bazel Cache
        uses: actions/cache@v1
        with:
          path: "/home/runner/.cache/bazel"
          key: bazel
      - name: Install bazelisk
        run: |
          curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.1.0/bazelisk-linux-amd64"
          mkdir -p "${GITHUB_WORKSPACE}/bin/"
          mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
          chmod +x "${GITHUB_WORKSPACE}/bin/bazel"
      - name: Install dependencies via apt
        run: sudo apt install python3-dev python3-distutils python3-dev libtinfo5
      - name: Configure Python3 Path For Bazel
        run: |
          ln -s $(which python3) ${GITHUB_WORKSPACE}/bin/python
          echo "::add-path::${GITHUB_WORKSPACE}/bin"
      - name: Bazel Test All (opt)
        run: |
          "${GITHUB_WORKSPACE}/bin/bazel" test -c opt //...
