# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# See also: https://github.com/marketplace/actions/bazel-action

name: Continuous Integration
on:
  # Avoid triggering on pushes to /all/ open PR branches.
  push:
    branches:
      - main
    paths-ignore:
      # Do not trigger action when docs are updated.
      - 'docs/**'
  pull_request:
    branches:
      - main
  # This lets us trigger manually from the UI.
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - runner: ubuntu-20.04-64core
            bazelisk-platform: linux-amd64
            bazelisk-version: v1.18.0
          - runner: macos-latest-xlarge
            bazelisk-platform: darwin-arm64
            bazelisk-version: v1.18.0
    name: Bazel Build (opt) [${{ matrix.runner }}]
    runs-on:
      labels: ${{ matrix.runner }}
    timeout-minutes: 600
    steps:
      - uses: actions/checkout@v2

      - name: Mount Bazel Cache
        uses: actions/cache@v3
        with:
          path: "~/.cache/bazel"
          # Create/use a cache called bazel-cache-20_04-<commit hash>
          # and read the latest cache with prefix bazel-cache-20_04-
          # if it doesn't already exist.
          key: bazel-cache-20_04-${{ matrix.runner }}-${{ github.sha }}
          restore-keys: bazel-cache-20_04-${{ matrix.runner }}-

      - name: Install bazelisk
        run: |
          curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/${{ matrix.bazelisk-version }}/bazelisk-${{ matrix.bazelisk-platform }}"
          mkdir -p "${GITHUB_WORKSPACE}/bin/"
          mv bazelisk-${{ matrix.bazelisk-platform }} "${GITHUB_WORKSPACE}/bin/bazel"
          chmod +x "${GITHUB_WORKSPACE}/bin/bazel"

      - name: Bazel fetch
        # Let's fetch all WORKSPACE artifacts to see if they can resolve fully
        run: |
          "${GITHUB_WORKSPACE}/bin/bazel" fetch //...
        if: matrix.runner == 'ubuntu-20.04-64core'

      - name: Bazel Build Tools  (opt)
        run: |
          "${GITHUB_WORKSPACE}/bin/bazel" build -c opt --test_output=errors -- //xls/dslx:interpreter_main //xls/dslx/ir_convert:ir_converter_main //xls/tools:opt_main //xls/tools:codegen_main

      - name: Bazel Test All (opt)
        run: |
          "${GITHUB_WORKSPACE}/bin/bazel" test -c opt --test_output=errors -- //xls/...
        if: matrix.runner == 'ubuntu-20.04-64core'
